@tailwind base;
@tailwind components;
@tailwind utilities;


.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}


/**
  SWIPER CSS
  */
/*
  .swiper {
    height: auto;
  }
  .swiper .swiper-slide {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  .swiper .swiper-slide.bg-color1 {
    background-color: #d6b404;
  }
  .swiper .swiper-slide.bg-color2 {
    background-color: #7fca83;
  }
  .swiper .swiper-slide.bg-color3 {
    background-color: #ff8888;
  }
  .swiper .img-fluid {
    width: 25%;
  }
  
  @media screen and (min-width: 576px) {
    .swiper-container {
      width: 576px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
  }
  
  @media (min-width: 992px) {
    .swiper .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
    }
  }*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: yellow;
}

::-webkit-scrollbar-thumb {
  background: rgb(7, 167, 230);
}

::-webkit-scrollbar-thumb:hover {
  background: red;
}

.shadow-left::before,
.shadow-right::after {
  box-shadow: #d2f4ea;
}

.transition-1s {
  transition: 1s !important;
}

.transition-2s {
  transition: 2s !important;
}

.transition-3s {
  transition: 3s !important;
}

.transition-4s {
  transition: 4s !important;
}

.transition-5s {
  transition: 5s !important;
}


/*
* PULSAR botões
*/

.pulsating-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pulsating-button.pulsating {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.9);
  }
  100% {
    transform: scale(1);
  }
}

.pulsar {
  border-radius: 5%;
  color: #fff;
  transition: transform 1.3s ease;
}

.pulsating-button.pulsating {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.9);
  }
  100% {
    transform: scale(1);
  }
}


.wave-button {
  position: relative;
  overflow: hidden;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.wave-button .wave {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transform: scale(0);
  animation: pulse 1.5s linear;
}

@keyframes pulse {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.wave-button:hover {
  background-color: #e74c3c;
}



/* estilos.css */
.comments-section {
  display: flex;
}

.users {
  flex: 1;
  padding: 20px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comments {
  flex: 2;
  padding: 20px;
}

.comment {
  margin-bottom: 10px;
}

.user {
  font-weight: bold;
}

/* Outras estilizações conforme necessário */
