.ql-editor {
    min-height: 200px;
}

.image-editor {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
  }
  
  .image-editor label {
    display: block;
    margin-bottom: 8px;
  }
  
  .image-editor input,
  .image-editor select {
    width: 100%;
    margin-top: 4px;
  }
  
  .image-editor button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  